
* {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    background: #1A1A1C;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 100px 0px;
    background: #1A1A1C;
}

#search-area {
    height: 40px;
    display: flex;
    gap: 25px;
    justify-content: flex-start;
    background: #1A1A1C;
    
}

#search-bar {
    width: 445px;
    display: flex;
    align-items: center;
    border: 1px solid #8E8E8E;
}


#search {
    width: 100%;
    color: #FFF;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    outline: none;
    
   
}
#search::placeholder{
    padding-left: 20px;
    color: white;
}

#search-area>button {
    width:200px;

    border: 1px solid #8E8E8E;
    color: #FFF;
    font-family: Inter;
    
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

#search-area>button:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

#hero {
   
    background: #1A1A1C;
}

#hero>table {
    
    color: #FFF;
    border-collapse:separate;
    border-spacing: 30px 20px;
}

tr {
    height: 20px;
}

td>img {
    height: 20px;
    width: 20px;
}

td {
    color: #FFF;
    height: 70px;
    width: max-content;
   
}

td:hover{
    font-size: large;
}



td:hover{
    cursor: pointer;
}


.row1 {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 0px 10px;
}
.row2{
    text-align: center;
    padding: 0px 10px;
}
.common-row{
    text-align: right;
}
.positive-change{
    color:#58b53b;
}
.negative-change{
    color:#ba2c21;
}


@media screen and (max-width: 780px) {
    
  
    #search-area {
      flex-direction: row;
      gap: 10px;
      
    }
  
    #search-bar,
    #search-area > button {
      width: 40%;
      margin-bottom: 10px;
    }
  
    #hero > table {
      border-spacing: 10px; 
      font-size: 10px;
      width: 100%;
    }
  
    td {
      padding: 5px 8px;
    }
  }
  


  @media screen and (max-width: 928px) {
   
  
    #search-area {
      flex-direction: row;
      gap: 10px;
      
    }
  
    #search-bar,
    #search-area > button {
      width: 40%;
      margin-bottom: 10px;
    }
  
    #hero > table {
      border-spacing: 10px; 
      font-size: 15px;
      width: 100%;
    }
  
    td {
      padding: 10px 8px;
    }
  }
  

  @media screen and (max-width: 766px) {
    
    #search-area {
      flex-direction: row;
      gap: 10px;
      
    }
  
    #search-bar,
    #search-area > button {
      width: 40%;
      margin-bottom: 10px;
    }
  
    #hero > table {
      border-spacing: 10px; 
      font-size: 10px;
      width: 100%;
    }
  
    td {
      padding: 5px 8px;
    }
  }